/EngineeredMonitoringPlatform/datastore
/EngineeredMonitoringPlatform/backup
/EngineeredMonitoringPlatform/snapshot
threaddumps
/EngineeredMonitoringPlatform/docs/~$EMP_PresentationSlides.pptx
/EngineeredMonitoringPlatform/.settings/org.eclipse.core.resources.prefs
/EngineeredMonitoringPlatform/.settings/org.eclipse.jdt.core.prefs
/EngineeredMonitoringPlatform/.settings/org.eclipse.m2e.core.prefs
